/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
$baseBlue: #0289b9;
@font-face {
  font-family: QuickSand;
  src: url("../../fonts/Quicksand-Regular.otf"), url("../../fonts/Quicksand-Regular.ttf"), url("../../fonts/Quicksand-Regular.woff"), url("../../fonts/Quicksand-Regular.svg");
  /* IE9 */
}

nav {
  width: auto;
  background-color: $baseBlue;
  color: white;
  font-family: QuickSand;
  font-size: 20px;
}

nav ul {
  width: 50%;
  height: auto;
  list-style-type: none;
  margin: 0 auto;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

nav ul li {
  margin: 0 auto;
  padding-right: 30px;
  display: inline;
}

nav ul li a:active, nav ul a:visited, nav ul a {
  color: white;
  text-decoration: none;
  text-shadow: -1px 0.5px 2.5px #dbdbdb;
  filter: dropshadow(color=#dbdbdb, offx=-1, offy=0.5);
}

h1 {
  font-family: QuickSand;
  font-size: 20px;
}

h3 {
  font-family: QuickSand;
  font-size: 15px;
}

#banner {
  float: left;
  width: 30%;
  height: 40px;
}

#banner #logo {
  width: 55px;
  height: 55px;
  margin-top: -8px;
  padding-left: 7px;
}

#siteName {
  transition: all .25s ease-in-out;
  -moz-transition: all .25s ease-in-out;
  -webkit-transition: all .25s ease-in-out;
  opacity: 1;
  position: absolute;
  top: 2px;
  left: 55px;
  padding-bottom: 5px;
}

#current {
  border-bottom: 1px solid white;
}

#clock {
  transition: all .25s ease-in-out;
  -moz-transition: all .25s ease-in-out;
  -webkit-transition: all .25s ease-in-out;
  opacity: 1;
  float: right;
  width: 20%;
  margin-top: 10px;
}

footer {
  margin: 0 auto;
  width: 60%;
  margin-top: 25px;
  text-align: center;
  font-size: 12px;
  font-family: QuickSand;
  color: $baseBlue;
  padding-left: 60px;
}

footer hr {
  border: 1px solid $baseBlue;
  opacity: 0.2;
  width: 60%;
  margin: 0 auto;
}

@media all and (max-width: 850px) and (min-width: 200px) {
  #siteName {
    visibility: collapse;
    opacity: 0;
    height: 0px;
  }

}

@media all and (max-width: 950px) and (min-width: 200px) {
  nav {
    height: 60px;
  }
}

/* HOME */
#campusInfo {
  width: 60%;
  margin: 0 auto;
  padding-top: 50px;
  h1 {
    text-decoration: underline;
  }
  hr {
    border: 1px solid $baseBlue;
    opacity: 0.2;
  }

}

.right {
  width: 28%;
  float: right;

}

#polaroid {
  padding: 6px 8px 10px 8px; /*size of the frame*/
  /*give the frame's background colour a gradient*/
  background: #FCFCFC; /*fallback colour for browsers that don't support gradients*/
  background: -webkit-linear-gradient(top, #F2F0F2, #FCFCFC 20%, #FCFCFC 60%);
  background: -moz-linear-gradient(top, #F2F0F2, #FCFCFC 20%, #FCFCFC 60%);
  background: -o-linear-gradient(top, #F2F0F2, #FCFCFC 20%, #FCFCFC 60%);
  background: -ms-linear-gradient(top, #F2F0F2, #FCFCFC 20%, #FCFCFC 60%);
  background: linear-gradient(top, #F2F0F2, #FCFCFC 20%, #FCFCFC 60%);
  /*give the Polaroids a small drop shadow*/
  -webkit-box-shadow: 4px 4px 8px -4px rgba(0, 0, 0, .75);
  -moz-box-shadow: 4px 4px 8px -4px rgba(0, 0, 0, .75);
  box-shadow: 4px 4px 8px -4px rgba(0, 0, 0, .75);
}

figure img {
  width: 100%;
  height: 100%;
}

figcaption {
  font-family: QuickSand;
  text-align: center;
}

p {
  margin-top: 20px;
  font-family: Segoe UI;
}

button {
  margin-top: 50px;
  -moz-box-shadow: 7px 4px 7px -1px #888888;
  -webkit-box-shadow: 7px 4px 7px -1px #888888;
  box-shadow: 7px 4px 7px -1px #888888;
  background-color: $baseBlue;
  text-indent: 0px;
  border: 1px solid $baseBlue;
  display: inline-block;
  color: #ffffff;
  font-family: Segoe UI;
  font-size: 15px;
  font-weight: bold;
  font-style: normal;
  height: 45px;
  line-height: 45px;
  width: 185px;
  text-decoration: none;
  text-align: center;
  text-shadow: 1px 1px 0px $baseBlue;
}

#viewCampus:active {
  margin-top: 50px;
  -moz-box-shadow: -7px 4px 7px -1px #bbdaf7;
  -webkit-box-shadow: -7px 4px 7px -1px #bbdaf7;
  box-shadow: -7px 4px 7px -1px #bbdaf7;
  background-color: $baseBlue;
  text-indent: 0px;
  border: 1px solid #bbdaf7;
  display: inline-block;
  color: #ffffff;
  font-family: Segoe UI;
  font-size: 15px;
  font-weight: bold;
  font-style: normal;
  height: 45px;
  line-height: 45px;
  width: 185px;
  text-decoration: none;
  text-align: center;
  text-shadow: 1px 1px 0px $baseBlue;
}

.clear {
  clear: both;
}

@media all and (max-width: 1050px) {
  figcaption {
    font-size: 10px;
  }
}

@media all and (max-width: 650px) and (min-width: 200px) {
  figcaption {
    font-size: 6px;
  }
}

/* SLIDER */
#campusSlider {
  width: 40%;
  height: 10%;
  margin: 0 auto;
  margin-top: 60px;

  #slider {
    margin: 0 auto;
    margin-left: 55px;
  }

}

@media all and (max-width: 850px) and (min-width: 200px) {
  #carousel {
    visibility: collapse;
    opacity: 0;
    height: 0px;
  }
}

/* CAMPUS PAGE */
#drawingWrapper {
  margin: 0 auto;
  width: 1200px;
  margin-top: 20px;
  padding: 0;
}
#drawingCanvas {
  width: 1000px;
  background-image: url('../../images/grid.svg');
}

#rightPane {
  width: 80px;
  float: right;
  margin-right: 100px;
  position: relative;
  top: 0px;
}

#floors {
  height: 440px;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}

#floors a, a:active, a:visited {
  text-decoration: none;
}

.floor {
  background-image: url('../../images/elevatorbutton.png');
  width: 50px;
  height: 50px;

  -webkit-box-shadow: -4px 4px 4px 1px rgba(4, 26, 5, 0.2);
  box-shadow: -4px 4px 4px 1px rgba(4, 26, 5, 0.2);
  font-family: Segoe UI;
  font-size: 3em;
  color: white;
  text-align: center;
  margin: 0 auto;
  margin-right: 10px;
  margin-bottom: 10px;
}

#filterMenu {
  margin: 0 auto;
  margin-top: 50px;
  width: 70%;
}

#sortable {
  margin: 0 auto;
  list-style-type: none;
  padding: 0;
  width: 70%;
}

#sortable li {
  margin: 0 auto;
  padding: 5px;
  font-size: 1.2em;
  height: 1.5em;
  display: inline;
}

.ui-state-highlight {
  height: 1.5em;
  line-height: 1.2em;
}

#filterMenu span {
  font-family: QuickSand;
  font-size: 25px;
}

/* custom checkbox */
input[type=checkbox].css-checkbox {
  display: none !important;

}

input[type=checkbox].css-checkbox + label.css-label {
  padding-left: 35px !important;
  height: 30px !important;
  display: inline-block !important;
  line-height: 30px !important;
  background-repeat: no-repeat !important;
  background-position: 0 0 !important;
  font-size: 15px !important;
  vertical-align: middle !important;
  font-family: QuickSand;
  cursor: pointer !important;

}

input[type=checkbox].css-checkbox:checked + label.css-label {
  background-position: 0 -30px !important;
  font-family: QuickSand;
}

label.css-label {
  background-image: url(http://csscheckbox.com/checkboxes/u/csscheckbox_46f52da41531d8a0762bfb421b4e76e0.png) !important;
  -webkit-touch-callout: none !important;
  -webkit-user-select: none !important;
  -khtml-user-select: none !important;
  -moz-user-select: none !important;
  -ms-user-select: none !important;
  user-select: none !important;

}

@media all and (max-width: 1500px) {
  #sortable {
    margin: 0 auto;
  }

}

@media all and (max-width: 1650px) {
  .css-label {
    margin-top: 11px;
  }
  #filterMenu span {
    vertical-align: middle;
  }
}

#campus {
  margin-top: 20px;
  margin-left: 220px;
  font-size: 3em;
}

#textPane {
  margin: 0 auto;
  width: 80%;
  margin-top: 20px;
  padding: 0;
  #leftPane {
    height: 440px;
    width: 80px;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    margin-left: 10px;
    float:left;
  }
}

/* TABLE */
.facilities {
  h3 {
    font-weight: bold;
  }
  margin: 0 auto;
  padding: 0px;
  width: 80%;

}

.facilities table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  padding: 0px;
  margin-top: 5px;
  box-shadow: 10px 10px 5px #888888;

}

.facilities tr:nth-child(odd) {
  background-color: #afced3;
}

.facilities tr:nth-child(even) {
  background-color: #ffffff;
}

.facilities td {
  vertical-align: middle;
  border: 1px solid #dbdbdb;
  border-width: 0px 1px 1px 0px;
  text-align: left;
  padding: 11px;
  font-size: 15px;
  font-family: Segoe UI, Helvetica;
  font-weight: normal;
  color: #000000;
}

.facilities tr:last-child td {
  border-width: 0px 1px 0px 0px;
}

.facilities tr:first-child td {

  background-color: $baseBlue;
  border: 0px solid #dbdbdb;
  text-align: center;
  border-width: 0px 0px 1px 1px;
  font-size: 14px;
  font-family: Arial;
  font-weight: bold;
  color: #ffffff;
}

.facilities tr:first-child td:first-child {
  border-width: 0px 0px 1px 0px;
}

.facilities tr:first-child td:last-child {
  border-width: 0px 0px 1px 1px;
}

@media all and (max-width: 1200px) {
  .facilities {
    float: right;
  }
}

/* ACTIVE FLOOR */
.floor.active {
  margin-left: 10px;
  opacity: 0.6;
}


.centeredCheckBox {
  width: 50px;
  margin-left: 30px
}

#details {
  width: 70%;
  margin: 0 auto;
  margin-bottom: 40px;

  .right {
    float: right;

  }
  #polaroid {
    margin-right: -75px;
  }
  table {
    box-shadow: 10px 10px 5px #888888;
    border: 1px solid #ABABB0;

    td {
      padding: 10px;
      border: 1px solid #dbdbdb;
      border-width: 0px 1px 1px 0px;
    }
    td:first-child {
      font-family: QuickSand;
      font-weight: bold;
      width: 50%;
    }
    td:last-child {
      font-family: Segoe UI, Helvetica;
      font-size: 15px;

    }
    tr:nth-child(odd) {
      background-color: #ffffff;
    }
    tr:nth-child(even) {
      background-color: #afced3;
    }
  }
}

#facilityTitle {
  margin-top: 30px;
  margin-left: 220px;
  font-size: 3em;
  vertical-align: middle;

}

.back {
  width: 60px;
  height: 60px;
  float: left;
  padding-left: 350px;
  margin-top: -5px;
}

#report {
  width: 50%;
  margin: 0 auto;
  margin-top: 40px;
  .facilities {
    padding-left: 40px;
    width: 35%;
    td:last-child {
      width: 50px;
    }
  }
}

@media all and (max-width: 1200px) {
  #report {
    .facilities {
      float: left;
      margin-left: 140px;
    }
  }
}




