/* line 1, ../sassLight/sass/toggleswitch.scss */
.onoffswitch {
  position: relative;
  width: 69px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

/* line 5, ../sassLight/sass/toggleswitch.scss */
.onoffswitch-checkbox {
  display: none;
}

/* line 8, ../sassLight/sass/toggleswitch.scss */
.onoffswitch-label {
  display: block;
  overflow: hidden;
  cursor: pointer;
  border: 2px solid #999999;
  border-radius: 0px;
}

/* line 12, ../sassLight/sass/toggleswitch.scss */
.onoffswitch-inner {
  width: 200%;
  margin-left: -100%;
  -moz-transition: margin 0.3s ease-in 0s;
  -webkit-transition: margin 0.3s ease-in 0s;
  -o-transition: margin 0.3s ease-in 0s;
  transition: margin 0.3s ease-in 0s;
}

/* line 17, ../sassLight/sass/toggleswitch.scss */
.onoffswitch-inner:before, .onoffswitch-inner:after {
  float: left;
  width: 50%;
  height: 22px;
  padding: 0;
  line-height: 18px;
  font-size: 10px;
  color: white;
  font-family: Trebuchet, Arial, sans-serif;
  font-weight: bold;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border: 2px solid transparent;
  background-clip: padding-box;
}

/* line 24, ../sassLight/sass/toggleswitch.scss */
.onoffswitch-inner:before {
  content: "Light";
  padding-left: 10px;
  background-color: #2E8DEF;
  color: #FFFFFF;
  text-align: left;
}

/* line 30, ../sassLight/sass/toggleswitch.scss */
.onoffswitch-inner:after {
  content: "Dark";
  padding-right: 10px;
  background-color: #CCCCCC;
  color: #333333;
  text-align: right;
}

/* line 36, ../sassLight/sass/toggleswitch.scss */
.onoffswitch-switch {
  width: 25px;
  margin: 0px;
  background: #000000;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 44px;
  -moz-transition: all 0.3s ease-in 0s;
  -webkit-transition: all 0.3s ease-in 0s;
  -o-transition: all 0.3s ease-in 0s;
  transition: all 0.3s ease-in 0s;
}

/* line 43, ../sassLight/sass/toggleswitch.scss */
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
  margin-left: 0;
}

/* line 46, ../sassLight/sass/toggleswitch.scss */
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
  right: 0px;
}

/* line 50, ../sassLight/sass/toggleswitch.scss */
#onoffToggle {
  float: right;
  margin-top: 5px;
  margin-right: 20%;
}
