<!doctype html>
<html lang="en" ng-app="camposs">
<head>
  <meta charset="utf-8">
    <title>Camposs</title>
    <link type="text/css" rel="stylesheet" href="css/light/reset.css"/>
    <link type="text/css" id="screen" rel="stylesheet" href="css/light/screen.css"/>
    <link type="text/css" id="flex" rel="stylesheet" href="css/light/flexslider.css"/>
    <link type="text/css" rel="stylesheet" href="css/light/toggleswitch.css"/>
    <script src="js/jquery/modernizr-2.6.2-respond-1.1.0.min.js"></script>
    <!-- Design -->
    <script>window.jQuery || document.write('<script src="js/jquery/jquery.js"><\/script>')</script>
    <script type="text/javascript" src="js/jquery/jquery.flexslider-min.js"></script>
    <script type="text/javascript" src="js/jquery/jquery-ui.min.js"></script>
    <script type="text/javascript" src="js/jquery/jcanvas.min.js"></script>
    <script type="text/javascript" src="js/jquery/general.js"></script>

</head>
<body>
<!-- nav bar -->
<nav>
    <section id="banner">
        <img id="logo" src="images/logo.png"/>
        <img id="siteName" src="images/name.png"/>
    </section>
    <div id="clock"></div>
    <ul  ng-controller="MenuController">
        <li><a id="{{homeId}}" href="#/home">Home</a></li>
        <li><a id="{{campusId}}">Campus</a></li>
    </ul>

</nav>


<div id="wrapper" ng-view>

  </div>

  <div class="clear"></div>
  <footer>
      <hr/>
      <section>
          Camposs © Mo Binni - 2013
      </section>
      <div id="onoffToggle" class="onoffswitch">
          <input type="checkbox" name="onoffswitch" id="myOnOff" class="onoffswitch-checkbox"  checked>
          <label class="onoffswitch-label" for="myOnOff">
              <div class="onoffswitch-inner"></div>
              <div class="onoffswitch-switch"></div>
          </label>
      </div>
  </footer>

  <!-- Angular -->
  <script src="lib/angular/angular.js"></script>
  <script src="lib/angular/angular-route.js"></script>
  <script src="js/app.js"></script>
  <script src="js/services.js"></script>
  <script src="js/controllers.js"></script>
  <script src="js/filters.js"></script>
  <script src="js/directives.js"></script>


</body>
</html>
