<script>
    $("#sortable").sortable({
        placeholder: "ui-state-highlight",
        items: "li:not(.disabled)"
    });
    $("#sortable").disableSelection();
</script>
<h1 id="campus">{{currentCampus}}</h1>


<div id="filterMenu">
    <ul id="sortable"
        ng-init="visualchecked=true;beamerchecked=true;capacitychecked=true;surfacechecked=true;typechecked=false;">
        <li class="disabled">
            <input id="visual" ng-change="goToList()" type="checkbox" class="css-checkbox" ng-model="visualchecked" />
            <label for="visual"  class="css-label">Visual View</label>
        </li>
        <span>Filters:</span>
        <li class="disabled">
            <input id="beamers" type="checkbox" class="css-checkbox" ng-model="beamerchecked" ng-change="drawFloor()"/>
            <label for="beamers" class="css-label ">Beamers</label>
        </li>
        <li class="disabled">
            <input id="capacity" type="checkbox" class="css-checkbox" ng-model="capacitychecked" ng-change="drawFloor()"/>
            <label for="capacity" class="css-label ">Capacity</label>
        </li>
        <li class="disabled">
            <input id="surface" type="checkbox" class="css-checkbox" ng-model="surfacechecked" ng-change="drawFloor()"/>
            <label for="surface" class="css-label ">Surface</label>
        </li>
        <li class="disabled">
            <input id="type" type="checkbox" class="css-checkbox" ng-model="typechecked" ng-change="drawFloor()"/>
            <label for="type" class="css-label ">Type</label>
        </li>
    </ul>

</div>

<section id="drawingWrapper">
    <div id="rightPane">
        <div id="floors">
            <a>
                <div ng-repeat="f in floors"  class="floor" ng-class="{'active':checkFloor({{f.floor}})}" ng-click="filterFloor(f.floor)">{{f.floor}}</div>
            </a>
        </div>
    </div>
    <section id="drawingCanvas">
        <canvas  id="canvas" width="1000px" height="800px">
            <floorplan></floorplan>
        </canvas>
    </section>
</section>
