<script>
    $("#sortable").sortable({
        placeholder: "ui-state-highlight",
        items: "li:not(.disabled)"
    });
    $("#sortable").disableSelection();
</script>
<h1 id="campus">{{currentCampus}}</h1>

<div id="filterMenu">
    <ul id="sortable"
        ng-init="visualchecked=false;beamerchecked=true;capacitychecked=true;surfacechecked=true;typechecked=false;">
        <li class="disabled">
            <input id="visual"   ng-change="goToVisual()" type="checkbox" class="css-checkbox" ng-model="visualchecked" />
            <label for="visual" class="css-label">Visual View</label>
        </li>
        <span>Filters:</span>
        <li class="disabled">
            <input id="beamers" type="checkbox" class="css-checkbox" ng-model="beamerchecked"/>
            <label for="beamers" class="css-label ">Beamers</label>
        </li>
        <li class="disabled">
            <input id="capacity" type="checkbox" class="css-checkbox" ng-model="capacitychecked"/>
            <label for="capacity" class="css-label ">Capacity</label>
        </li>
        <li class="disabled">
            <input id="surface" type="checkbox" class="css-checkbox" ng-model="surfacechecked"/>
            <label for="surface" class="css-label ">Surface</label>
        </li>
        <li class="disabled">
            <input id="type" type="checkbox" class="css-checkbox" ng-model="typechecked"/>
            <label for="type" class="css-label ">Type</label>
        </li>

    </ul>

</div>

<section id="textPane">
    <div id="leftPane">
        <div id="floors">
            <a>
                <div ng-repeat="f in floors"  class="floor" ng-class="{'active':checkFloor({{f.floor}})}" ng-click="filterFloor(f.floor)">{{f.floor}}</div>
            </a>
        </div>
    </div>
    <div class="facilities">
        <table class="tableSection">
            <tr>
                <td>
                    Facility
                </td>
                <td ng-show="beamerchecked">
                    Beamers
                </td>
                <td ng-show="capacitychecked">
                    Capacity
                </td>
                <td ng-show="surfacechecked">
                    Surface
                </td>
                <td ng-show="typechecked">
                    Type
                </td>
            </tr>
            <tr ng-repeat="facility in floors[floor].facilities">
                <td><a ng-href="#/campus_list/{{urlParam}}/{{campusId}}/{{floor}}/{{facility.name}}" > {{facility.name}}</a></td>
                <td ng-show="beamerchecked" ng-if="facility.hasBeamer">Available</td>
                <td ng-show="beamerchecked" ng-if="!(facility.hasBeamer)">Unavailable</td>
                <td ng-show="capacitychecked"> {{facility.capacity}}</td>
                <td ng-show="surfacechecked"> {{facility.surface}}m²</td>
                <td ng-show="typechecked"> {{facility.type}}</td>
            </tr>
        </table>
    </div>

</section>
