<script>
    if ($('#myOnOff').is(':checked')) {
        $(".back").attr("src", "images/back.png");
    } else {
        $(".back").attr("src", "images/back_black.png");
    }
</script>
<a ng-href="{{returnRoute}}"><img class="back" src="images/back.png"/></a>
<h1 id="facilityTitle">{{facility.name}}</h1>
<section id="textPane">
    <section id="details">
        <div id="polaroid" class="right">
            <figure>
                <img src="images/{{facility.type}}.jpg"/>
                <figcaption>{{facility.type}}</figcaption>
            </figure>
        </div>

        <table>
            <tr>
                <td>Type</td>
                <td>{{facility.type}}</td>
            </tr>
            <tr>
                <td>Description</td>
                <td>{{facility.description}}</td>
            </tr>
            <tr>
                <td>Beamer Available</td>
                <td ng-if="facility.hasBeamer">Available</td>
                <td ng-if="!(facility.hasBeamer)">Unavailable</td>
            </tr>
            <tr>
                <td>Bulb last changed</td>
                <td>{{dateBulb}}</td>
            </tr>
            <tr>
                <td>Surface</td>
                <td>{{facility.surface}}m²</td>
            </tr>
            <tr>
                <td>Capacity</td>
                <td>{{facility.capacity}}</td>
            </tr>
            <tr ng-if="facility.openingHours.length > 0">
                <td>Opening hours</td>
                <td><span ng-repeat="s in facility.openingHours">{{s}}<br/><br/></span></td>
            </tr>
        </table>

    </section>
    <div class="clear"></div>
    <!-- faults table -->
    <section id="faults" class="facilities">
        <h3>Action</h3>
        <table>
            <tr>
                <td>
                    Date
                </td>
                <td>
                    Type
                </td>
                <td>
                    Description
                </td>
                <td>
                    Priority
                </td>
                <td>
                    Date Execution
                </td>
                <td>
                    Resolved
                </td>
                <td>
                    Price
                </td>
            </tr>
            <tr  ng-repeat="a in facility.actions" ng-class="a.priority">
                <td>{{getDateFromInt(a.date)}}</td>
                <td>{{a.type}}</td>
                <td>{{a.description}}</td>
                <td>{{a.priority}}</td>
                <td>{{getDateFromInt(a.dateExec)}}</td>
                <td style="text-align: center">
                    <input id="beamers" type="checkbox" class="css-checkbox" ng-model="a.resolved" disabled/>
                    <label for="beamers" class="css-label "></label>
                </td>
                <td>{{a.price}}</td>
            </tr>

        </table>
        <a id="reportFault" ng-href="#/{{base}}/{{urlParam}}/{{campusId}}/{{floor}}/{{facility.name}}/report">
            <button>Report Action</button>
        </a> &nbsp &nbsp &nbsp
        <a ng-href="#/{{base}}/{{urlParam}}/{{campusId}}/{{floor}}/{{facility.name}}/edit">
            <button id="edit" class="button">Edit</button>
        </a>
    </section>
</section>

<div class="clear"></div>