<script>
    if ($('#myOnOff').is(':checked')) {
        $(".back").attr("src", "images/back.png");
    } else {
        $(".back").attr("src", "images/back_black.png");
    }
</script>
<a ng-href="{{returnRoute}}"><img class="back" src="images/back.png"/></a>
<h1 id="facilityTitle">{{facility.name}}</h1>
<section id="textPane">
    <form>
        <section id="details">
            <div id="polaroid" class="right">
                <figure>
                    <img src="images/{{facility.type}}.jpg"/>
                    <figcaption>{{facility.type}}</figcaption>
                </figure>
            </div>

            <table>
                <tr>
                    <td><label for="type">Type</label></td>
                    <td>
                        <select id="type" ng-model="facility.type" ng-selected="facility.type" ng-options="t for t in types" >
                        </select>
                    </td>
                </tr>
                <tr>
                    <td><label for="description">Description</label></td>
                    <td><textarea id="description" ng-model="facility.description"></textarea></td>
                </tr>
                <tr>
                    <td>Beamer Available</td>
                    <td>
                        <input id="beamer" type="checkbox" class="css-checkbox" ng-model="facility.hasBeamer"/>
                        <label for="beamer" class="css-label"></label>
                    </td>
                </tr>
                <tr>
                    <td><label for="lastChanged">Bulb last changed</label></td>
                    <td><input id="lastChanged" type="date"/></td>
                </tr>
                <tr>
                    <td><label for="surface">Surface</label></td>
                    <td><input id="surface" type="number" max="200" min="10" ng-model="facility.surface"/></td>
                </tr>
                <tr>
                    <td><label for="capacity">Capacity</label></td>
                    <td><input id="capacity" type="number" max="100" min="20" ng-model="facility.capacity"/></td>
                </tr>
                <tr ng-if="facility.openingHours.length > 0">
                    <td>Opening hours</td>
                    <td>
                       <span ng-repeat="s in facility.openingHours">
                           <input type="text" ng-model="facility.openingHours[$index]"/></br>
                       </span>
                    </td>
                </tr>
            </table>

        </section>
        <div class="clear"></div>
        <!-- faults table -->
        <section id="faults" class="facilities">
            <h3>Action</h3>
            <table>
                <tr>
                    <td>
                        Date
                    </td>
                    <td>
                        Type
                    </td>
                    <td>
                        Description
                    </td>
                    <td>
                        Priority
                    </td>
                    <td>
                        Date Execution
                    </td>
                    <td>
                        Resolved
                    </td>
                    <td>
                        Price
                    </td>
                </tr>
                <tr ng-repeat="a in facility.actions" ng-class="a.priority">
                    <td>{{getDateFromInt(a.date)}}</td>
                    <td>{{a.type}}</td>
                    <td>{{a.description}}</td>
                    <td>{{a.priority}}</td>
                    <td>{{getDateFromInt(a.dateExec)}}</td>
                    <td style="text-align: center">
                        <input id="beamer{{$index}}" type="checkbox" class="css-checkbox" ng-model="a.resolved"/>
                        <label for="beamer{{$index}}" class="css-label "></label>
                    </td>
                    <td>{{a.price}}</td>
                </tr>
            </table>
            &nbsp&nbsp
            <button id="save" class="button" ng-click="saveFacility(facility)">Save</button>
            &nbsp&nbsp
            <a ng-href="#/campus_list/{{urlParam}}/{{campusId}}/{{floor}}/{{facility.name}}">
                <button id="cancel" class="button">Cancel</button>
            </a>
        </section>
    </form>
</section>

<div class="clear"></div>