
<section id="campusSlider">

    <div id="slider" class="flexslider">
        <ul class="slides">
            <li ng-repeat="item in items" style="width: 210px; float: left; display: block;">
               <img ng-click="changeCurrentCampus(item.nr)" ng-src="{{item.image}}"/><div id="border">{{item.name}}</div>
            </li>
        </ul>
    </div>
</section>

<section id="campusInfo">
    <hr/>
    <h1>{{currentCampus.name}}</h1>

    <div id="polaroid" class="right">
        <figure>
            <img ng-src="{{currentCampus.image}}"/>
            <figcaption>{{currentCampus.name}}</figcaption>
        </figure>
    </div>
    <p>{{currentCampus.description}}</p>
    <!-- a enkel voor interactie -->
    <a ng-href="#/campus_list/{{currentCampus.urlParam}}/{{currentCampus.nr}}"><button id="viewCampus">View Campus</button></a>
</section>
