<form id="report" name="report" action="index.html">
    <section class="facilities">
        <table id="reportTable">
            <tr>
                <td>Field</td>
                <td></td>
            </tr>
            <tr>
                <td><label for="date">Date</label></td>
                <td><input ng-model="report.date" id="date" type="date"/></td>
            </tr>
            <tr>
                <td><label for="type">Type</label></td>
                <td>
                    <select ng-model="report.type" id="type">
                        <option>Beamer</option>
                        <option>Bord</option>
                        <option>Electricity</option>
                        <option>Audio</option>
                        <option>Blinds</option>
                        <option>Tables</option>
                        <option>Cleaning</option>
                        <option>Other</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td><label for="rdescription">Description</label></td>
                <td><textarea ng-model="report.description" id="rdescription"></textarea></td>
            </tr>
            <tr>
                <td><label for="priority">Priority</label></td>
                <td><select ng-model="report.priority" id="priority">
                    <option>High</option>
                    <option>Medium</option>
                    <option>Low</option>
                </select>
                </td>
            </tr>

        </table>
        <button id="reportSubmit">Report Action</button>
    </section>
</form>