/*
 * jQuery FlexSlider v2.2.0
 * http://www.woothemes.com/flexslider/
 *
 * Copyright 2012 WooThemes
 * Free to use under the GPLv2 license.
 * http://www.gnu.org/licenses/gpl-2.0.html
 *
 * Contributing author: Tyler Smith (@mbmufffin)
 */
/* Browser Resets
*********************************/
/* line 18, ../sassLight/sass/flexslider.scss */
.flex-container a:active,
.flexslider a:active,
.flex-container a:focus,
.flexslider a:focus {
  outline: none;
}

/* line 24, ../sassLight/sass/flexslider.scss */
.slides,
.flex-control-nav,
.flex-direction-nav {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* Icon Fonts
*********************************/
/* Font-face Icons */
@font-face {
  font-family: 'flexslider-icon';
  src: url("../../fonts/flexslider-icon.eot");
  src: url("../../fonts/flexslider-icon.eot?#iefix") format("embedded-opentype"), url("../../fonts/flexslider-icon.woff") format("woff"), url("../../fonts/flexslider-icon.ttf") format("truetype"), url("../../fonts/flexslider-icon.svg#flexslider-icon") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* FlexSlider Necessary Styles
*********************************/
/* line 43, ../sassLight/sass/flexslider.scss */
.flexslider {
  margin: 0;
  padding: 0;
}

/* line 48, ../sassLight/sass/flexslider.scss */
.flexslider .slides > li {
  display: none;
  height: 130px;
  -webkit-backface-visibility: hidden;
}

/* Hide the slides before the JS is loaded. Avoids image jumping */
/* line 55, ../sassLight/sass/flexslider.scss */
.flexslider .slides img {
  width: 100%;
  display: block;
}

/* line 60, ../sassLight/sass/flexslider.scss */
#border {
  background-color: black;
  width: 100%;
  opacity: 0.6;
  height: 30px;
  position: relative;
  top: -40px;
  margin: 0;
  padding: 0;
  font-family: QuickSand, "Segoe UI";
  color: white;
  text-align: center;
}

/* line 74, ../sassLight/sass/flexslider.scss */
a, a:active, a:visited {
  text-decoration: none;
}

/* line 77, ../sassLight/sass/flexslider.scss */
#border:hover {
  transition: all .25s ease-in-out;
  -moz-transition: all .25s ease-in-out;
  -webkit-transition: all .25s ease-in-out;
  opacity: 0;
}

/* line 85, ../sassLight/sass/flexslider.scss */
.flex-pauseplay span {
  text-transform: capitalize;
}

/* Clearfix for the .slides element */
/* line 90, ../sassLight/sass/flexslider.scss */
.slides:after {
  content: "\0020";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

/* line 99, ../sassLight/sass/flexslider.scss */
html[xmlns] .slides {
  display: block;
}

/* line 103, ../sassLight/sass/flexslider.scss */
* html .slides {
  height: 1%;
}

/* No JavaScript Fallback */
/* If you are not using another script, such as Modernizr, make sure you
 * include js that eliminates this class on page load */
/* line 110, ../sassLight/sass/flexslider.scss */
.no-js .slides > li:first-child {
  display: block;
}

/* FlexSlider Default Theme
*********************************/
/* line 116, ../sassLight/sass/flexslider.scss */
.flexslider {
  margin: 0 0 60px;
  background: #fff;
  border: 4px solid #fff;
  position: relative;
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  -o-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  zoom: 1;
}

/* line 128, ../sassLight/sass/flexslider.scss */
.flex-viewport {
  max-height: 2000px;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
}

/* line 136, ../sassLight/sass/flexslider.scss */
.loading .flex-viewport {
  max-height: 300px;
}

/* line 140, ../sassLight/sass/flexslider.scss */
.flexslider .slides {
  zoom: 1;
}

/* line 144, ../sassLight/sass/flexslider.scss */
.carousel li {
  margin-right: 5px;
}

/* Direction Nav */
/* line 149, ../sassLight/sass/flexslider.scss */
.flex-direction-nav {
  *height: 0;
}

/* line 153, ../sassLight/sass/flexslider.scss */
.flex-direction-nav a {
  display: block;
  width: 40px;
  height: 40px;
  margin: -20px 0 0;
  position: absolute;
  top: 50%;
  z-index: 10;
  overflow: hidden;
  opacity: 0;
  cursor: pointer;
  color: rgba(0, 0, 0, 0.8);
  text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.3);
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  transition: all .3s ease;
}

/* line 171, ../sassLight/sass/flexslider.scss */
.flex-direction-nav .flex-prev {
  left: -50px;
}

/* line 175, ../sassLight/sass/flexslider.scss */
.flex-direction-nav .flex-next {
  right: -50px;
  text-align: right;
}

/* line 180, ../sassLight/sass/flexslider.scss */
.flexslider .flex-prev {
  opacity: 0.7;
  left: -30px;
}

/* line 185, ../sassLight/sass/flexslider.scss */
.flexslider .flex-next {
  opacity: 0.7;
  right: -30px;
}

/* line 190, ../sassLight/sass/flexslider.scss */
.flexslider .flex-next, .flexslider .flex-prev {
  opacity: 1;
}

/* line 194, ../sassLight/sass/flexslider.scss */
.flex-direction-nav .flex-disabled {
  opacity: 0 !important;
  filter: alpha(opacity=0);
  cursor: default;
}

/* line 200, ../sassLight/sass/flexslider.scss */
.flex-direction-nav a:before {
  font-family: "flexslider-icon";
  font-size: 40px;
  display: inline-block;
  content: '\f001';
  color: #2F302F;
  opacity: 0.8;
}

/* line 209, ../sassLight/sass/flexslider.scss */
.flex-direction-nav a.flex-next:before {
  content: '\f002';
}

/* Pause/Play */
/* line 214, ../sassLight/sass/flexslider.scss */
.flex-pauseplay a {
  display: block;
  width: 20px;
  height: 20px;
  position: absolute;
  bottom: 5px;
  left: 10px;
  opacity: 0.8;
  z-index: 10;
  overflow: hidden;
  cursor: pointer;
  color: #000;
}

/* line 228, ../sassLight/sass/flexslider.scss */
.flex-pauseplay a:before {
  font-family: "flexslider-icon";
  font-size: 20px;
  display: inline-block;
  content: '\f004';
}

/* line 235, ../sassLight/sass/flexslider.scss */
.flex-pauseplay a:hover {
  opacity: 1;
}

/* line 239, ../sassLight/sass/flexslider.scss */
.flex-pauseplay a.flex-play:before {
  content: '\f003';
}

/* Control Nav */
/* line 244, ../sassLight/sass/flexslider.scss */
.flex-control-nav {
  width: 100%;
  position: absolute;
  bottom: -40px;
  text-align: center;
}

/* line 251, ../sassLight/sass/flexslider.scss */
.flex-control-nav li {
  margin: 0 6px;
  display: inline-block;
  zoom: 1;
  *display: inline;
}

/* line 258, ../sassLight/sass/flexslider.scss */
.flex-control-paging li a {
  width: 11px;
  height: 11px;
  display: block;
  background: #4D4F4C;
  opacity: 0.8;
  cursor: pointer;
  text-indent: -9999px;
  -webkit-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
  -o-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
}

/* line 272, ../sassLight/sass/flexslider.scss */
.flex-control-paging li a:hover {
  background: #2F302F;
  opacity: 0.7;
}

/* line 277, ../sassLight/sass/flexslider.scss */
.flex-control-paging li a.flex-active {
  background: #2F302F;
  cursor: default;
}

/* line 282, ../sassLight/sass/flexslider.scss */
.flex-control-thumbs {
  margin: 5px 0 0;
  position: static;
  overflow: hidden;
}

/* line 288, ../sassLight/sass/flexslider.scss */
.flex-control-thumbs li {
  width: 25%;
  float: left;
  margin: 0;
}

/* line 294, ../sassLight/sass/flexslider.scss */
.flex-control-thumbs img {
  width: 100%;
  display: block;
  opacity: .7;
  cursor: pointer;
}

/* line 301, ../sassLight/sass/flexslider.scss */
.flex-control-thumbs img:hover {
  opacity: 1;
}

/* line 305, ../sassLight/sass/flexslider.scss */
.flex-control-thumbs .flex-active {
  opacity: 1;
  cursor: default;
}

@media screen and (max-width: 860px) {
  /* line 311, ../sassLight/sass/flexslider.scss */
  .flex-direction-nav .flex-prev {
    opacity: 1;
    left: 10px;
  }

  /* line 316, ../sassLight/sass/flexslider.scss */
  .flex-direction-nav .flex-next {
    opacity: 1;
    right: 10px;
  }
}
