/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
@font-face {
  font-family: QuickSand;
  src: url("../../fonts/Quicksand-Regular.otf"), url("../../fonts/Quicksand-Regular.ttf"), url("../../fonts/Quicksand-Regular.woff"), url("../../fonts/Quicksand-Regular.svg");
  /* IE9 */
}

/* line 12, ../sassLight/sass/screen.scss */
nav {
  width: auto;
  background-color: #2F302F;
  color: white;
  font-family: QuickSand;
  font-size: 20px;
}

/* line 20, ../sassLight/sass/screen.scss */
nav ul {
  width: 50%;
  height: auto;
  list-style-type: none;
  margin: 0 auto;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

/* line 30, ../sassLight/sass/screen.scss */
nav ul li {
  margin: 0 auto;
  padding-right: 30px;
  display: inline;
}

/* line 36, ../sassLight/sass/screen.scss */
nav ul li a:active, nav ul a:visited, nav ul a {
  color: white;
  text-decoration: none;
  text-shadow: -1px 0.5px 2.5px #dbdbdb;
  filter: dropshadow(color=#dbdbdb, offx=-1, offy=0.5);
}

/* line 43, ../sassLight/sass/screen.scss */
h1 {
  font-family: QuickSand;
  font-size: 20px;
}

/* line 48, ../sassLight/sass/screen.scss */
h3 {
  font-family: QuickSand;
  font-size: 15px;
}

/* line 53, ../sassLight/sass/screen.scss */
#banner {
  float: left;
  width: 30%;
  height: 40px;
}

/* line 59, ../sassLight/sass/screen.scss */
#banner #logo {
  width: 55px;
  height: 55px;
  margin-top: -8px;
  padding-left: 7px;
}

/* line 66, ../sassLight/sass/screen.scss */
#siteName {
  transition: all .25s ease-in-out;
  -moz-transition: all .25s ease-in-out;
  -webkit-transition: all .25s ease-in-out;
  opacity: 1;
  position: absolute;
  top: 2px;
  left: 55px;
  padding-bottom: 5px;
}

/* line 77, ../sassLight/sass/screen.scss */
#current {
  border-bottom: 1px solid white;
}

/* line 81, ../sassLight/sass/screen.scss */
#clock {
  transition: all .25s ease-in-out;
  -moz-transition: all .25s ease-in-out;
  -webkit-transition: all .25s ease-in-out;
  opacity: 1;
  float: right;
  width: 20%;
  margin-top: 10px;
}

/* line 91, ../sassLight/sass/screen.scss */
footer {
  margin: 0 auto;
  width: 60%;
  margin-top: 25px;
  text-align: center;
  font-size: 12px;
  font-family: QuickSand;
  color: #2F302F;
  padding-left: 60px;
}

/* line 102, ../sassLight/sass/screen.scss */
footer hr {
  border: 1px solid #2F302F;
  opacity: 0.2;
  width: 60%;
  margin: 0 auto;
}

@media all and (max-width: 850px) and (min-width: 200px) {
  /* line 110, ../sassLight/sass/screen.scss */
  #siteName {
    visibility: collapse;
    opacity: 0;
    height: 0px;
  }
}
@media all and (max-width: 950px) and (min-width: 200px) {
  /* line 119, ../sassLight/sass/screen.scss */
  nav {
    height: 60px;
  }
}
/* HOME */
/* line 125, ../sassLight/sass/screen.scss */
#campusInfo {
    color:#343633;
  width: 60%;
  margin: 0 auto;
  padding-top: 50px;
}
/* line 129, ../sassLight/sass/screen.scss */
#campusInfo h1 {
  text-decoration: underline;
}
/* line 132, ../sassLight/sass/screen.scss */
#campusInfo hr {
  border: 1px solid #2F302F;
  opacity: 0.2;
}

/* line 139, ../sassLight/sass/screen.scss */
.right {
  width: 28%;
  float: right;
}

/* line 145, ../sassLight/sass/screen.scss */
#polaroid {
  padding: 6px 8px 10px 8px;
  /*size of the frame*/
  /*give the frame's background colour a gradient*/
  background: #FCFCFC;
  /*fallback colour for browsers that don't support gradients*/
  background: -webkit-linear-gradient(top, #f2f0f2, #fcfcfc 20%, #fcfcfc 60%);
  background: -moz-linear-gradient(top, #f2f0f2, #fcfcfc 20%, #fcfcfc 60%);
  background: -o-linear-gradient(top, #f2f0f2, #fcfcfc 20%, #fcfcfc 60%);
  background: -ms-linear-gradient(top, #f2f0f2, #fcfcfc 20%, #fcfcfc 60%);
  background: linear-gradient(top, #f2f0f2, #fcfcfc 20%, #fcfcfc 60%);
  /*give the Polaroids a small drop shadow*/
  -webkit-box-shadow: 4px 4px 8px -4px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 4px 4px 8px -4px rgba(0, 0, 0, 0.75);
  box-shadow: 4px 4px 8px -4px rgba(0, 0, 0, 0.75);
}

/* line 160, ../sassLight/sass/screen.scss */
figure img {
  width: 100%;
  height: 100%;
}

/* line 165, ../sassLight/sass/screen.scss */
figcaption {
  font-family: QuickSand;
  text-align: center;
}

/* line 170, ../sassLight/sass/screen.scss */
p {
  margin-top: 20px;
  font-family: Segoe UI;
}

/* line 175, ../sassLight/sass/screen.scss */
button {
  margin-top: 50px;
  -moz-box-shadow: 7px 4px 7px -1px #888888;
  -webkit-box-shadow: 7px 4px 7px -1px #888888;
  box-shadow: 7px 4px 7px -1px #888888;
  background-color: #2F302F;
  text-indent: 0px;
  border: 1px solid #2F302F;
  display: inline-block;
  color: #ffffff;
  font-family: Segoe UI;
  font-size: 15px;
  font-weight: bold;
  font-style: normal;
  height: 45px;
  line-height: 45px;
  width: 185px;
  text-decoration: none;
  text-align: center;
  text-shadow: 1px 1px 0px #2F302F;
}

/* line 197, ../sassLight/sass/screen.scss */
#viewCampus:active {
  margin-top: 50px;
  -moz-box-shadow: -7px 4px 7px -1px #bbdaf7;
  -webkit-box-shadow: -7px 4px 7px -1px #bbdaf7;
  box-shadow: -7px 4px 7px -1px #bbdaf7;
  background-color: #2F302F;
  text-indent: 0px;
  border: 1px solid #bbdaf7;
  display: inline-block;
  color: #ffffff;
  font-family: Segoe UI;
  font-size: 15px;
  font-weight: bold;
  font-style: normal;
  height: 45px;
  line-height: 45px;
  width: 185px;
  text-decoration: none;
  text-align: center;
  text-shadow: 1px 1px 0px #2F302F;
}

/* line 219, ../sassLight/sass/screen.scss */
.clear {
  clear: both;
}

@media all and (max-width: 1050px) {
  /* line 224, ../sassLight/sass/screen.scss */
  figcaption {
    font-size: 10px;
  }
}
@media all and (max-width: 650px) and (min-width: 200px) {
  /* line 230, ../sassLight/sass/screen.scss */
  figcaption {
    font-size: 6px;
  }
}
/* SLIDER */
/* line 236, ../sassLight/sass/screen.scss */
#campusSlider {
  width: 40%;
  height: 10%;
  margin: 0 auto;
  margin-top: 60px;
}
/* line 242, ../sassLight/sass/screen.scss */
#campusSlider #slider {
  margin: 0 auto;
  margin-left: 55px;
}

@media all and (max-width: 850px) and (min-width: 200px) {
  /* line 250, ../sassLight/sass/screen.scss */
  #carousel {
    visibility: collapse;
    opacity: 0;
    height: 0px;
  }
}
/* CAMPUS PAGE */
/* line 258, ../sassLight/sass/screen.scss */
#drawingWrapper {
  margin: 0 auto;
  width: 1200px;
  margin-top: 20px;
  padding: 0;
}

/* line 264, ../sassLight/sass/screen.scss */
#drawingCanvas {
  width: 1000px;
  background-image: url("../../images/grid.svg");
}

/* line 269, ../sassLight/sass/screen.scss */
#rightPane {
  width: 80px;
  float: right;
  margin-right: 100px;
  position: relative;
  top: 0px;
}

/* line 277, ../sassLight/sass/screen.scss */
#floors {
  height: 440px;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}

/* line 283, ../sassLight/sass/screen.scss */
#floors a, a:active, a:visited {
  text-decoration: none;
}

/* line 287, ../sassLight/sass/screen.scss */
.floor {
  background-image: url("../../images/elevatorbutton.png");
  width: 50px;
  height: 50px;
  -webkit-box-shadow: -4px 4px 4px 1px rgba(4, 26, 5, 0.2);
  box-shadow: -4px 4px 4px 1px rgba(4, 26, 5, 0.2);
  font-family: Segoe UI;
  font-size: 3em;
  color: white;
  text-align: center;
  margin: 0 auto;
  margin-right: 10px;
  margin-bottom: 10px;
}

/* line 303, ../sassLight/sass/screen.scss */
#filterMenu {
  margin: 0 auto;
  margin-top: 50px;
  width: 70%;
}

/* line 309, ../sassLight/sass/screen.scss */
#sortable {
  margin: 0 auto;
  list-style-type: none;
  padding: 0;
  width: 70%;
}

/* line 316, ../sassLight/sass/screen.scss */
#sortable li {
  margin: 0 auto;
  padding: 5px;
  font-size: 1.2em;
  height: 1.5em;
  display: inline;
}

/* line 324, ../sassLight/sass/screen.scss */
.ui-state-highlight {
  height: 1.5em;
  line-height: 1.2em;
}

/* line 329, ../sassLight/sass/screen.scss */
#filterMenu span {
  font-family: QuickSand;
  font-size: 25px;
}

/* custom checkbox */
/* line 335, ../sassLight/sass/screen.scss */
input[type=checkbox].css-checkbox {
  display: none !important;
}

/* line 340, ../sassLight/sass/screen.scss */
input[type=checkbox].css-checkbox + label.css-label {
  padding-left: 35px !important;
  height: 30px !important;
  display: inline-block !important;
  line-height: 30px !important;
  background-repeat: no-repeat !important;
  background-position: 0 0 !important;
  font-size: 15px !important;
  vertical-align: middle !important;
  font-family: QuickSand;
  cursor: pointer !important;
}

/* line 354, ../sassLight/sass/screen.scss */
input[type=checkbox].css-checkbox:checked + label.css-label {
  background-position: 0 -30px !important;
  font-family: QuickSand;
}

/* line 359, ../sassLight/sass/screen.scss */
label.css-label {
  background-image: url(http://csscheckbox.com/checkboxes/u/csscheckbox_46f52da41531d8a0762bfb421b4e76e0.png) !important;
  -webkit-touch-callout: none !important;
  -webkit-user-select: none !important;
  -khtml-user-select: none !important;
  -moz-user-select: none !important;
  -ms-user-select: none !important;
  user-select: none !important;
}

@media all and (max-width: 1500px) {
  /* line 371, ../sassLight/sass/screen.scss */
  #sortable {
    margin: 0 auto;
  }
}
@media all and (max-width: 1650px) {
  /* line 378, ../sassLight/sass/screen.scss */
  .css-label {
    margin-top: 11px;
  }

  /* line 381, ../sassLight/sass/screen.scss */
  #filterMenu span {
    vertical-align: middle;
  }
}
/* line 386, ../sassLight/sass/screen.scss */
#campus {
  margin-top: 20px;
  margin-left: 220px;
  font-size: 3em;
}

/* line 392, ../sassLight/sass/screen.scss */
#textPane {
  margin: 0 auto;
  width: 80%;
  margin-top: 20px;
  padding: 0;
}
/* line 397, ../sassLight/sass/screen.scss */
#textPane #leftPane {
  height: 440px;
  width: 80px;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  margin-left: 10px;
  float: left;
}

/* TABLE */
/* line 408, ../sassLight/sass/screen.scss */
.facilities {
  margin: 0 auto;
  padding: 0px;
  width: 80%;
}
/* line 409, ../sassLight/sass/screen.scss */
.facilities h3 {
  font-weight: bold;
}

/* line 418, ../sassLight/sass/screen.scss */
.facilities table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  padding: 0px;
  margin-top: 5px;
  box-shadow: 10px 10px 5px #888888;
}

/* line 430, ../sassLight/sass/screen.scss */
.facilities tr:nth-child(odd) {
  background-color: #afced3;
}

/* line 434, ../sassLight/sass/screen.scss */
.facilities tr:nth-child(even) {
  background-color: #ffffff;
}

/* line 438, ../sassLight/sass/screen.scss */
.facilities td {
  vertical-align: middle;
  border: 1px solid #dbdbdb;
  border-width: 0px 1px 1px 0px;
  text-align: left;
  padding: 11px;
  font-size: 15px;
  font-family: Segoe UI, Helvetica;
  font-weight: normal;
  color: #000000;
}

/* line 450, ../sassLight/sass/screen.scss */
.facilities tr:last-child td {
  border-width: 0px 1px 0px 0px;
}

/* line 454, ../sassLight/sass/screen.scss */
.facilities tr:first-child td {
  background-color: #2F302F;
  border: 0px solid #dbdbdb;
  text-align: center;
  border-width: 0px 0px 1px 1px;
  font-size: 14px;
  font-family: Arial;
  font-weight: bold;
  color: #ffffff;
}

/* line 466, ../sassLight/sass/screen.scss */
.facilities tr:first-child td:first-child {
  border-width: 0px 0px 1px 0px;
}

/* line 470, ../sassLight/sass/screen.scss */
.facilities tr:first-child td:last-child {
  border-width: 0px 0px 1px 1px;
}

@media all and (max-width: 1200px) {
  /* line 475, ../sassLight/sass/screen.scss */
  .facilities {
    float: right;
  }
}
/* ACTIVE FLOOR */
/* line 481, ../sassLight/sass/screen.scss */
.floor.active {
  margin-left: 10px;
  opacity: 0.6;
}

/* line 487, ../sassLight/sass/screen.scss */
.centeredCheckBox {
  width: 50px;
  margin-left: 30px;
}

/* line 492, ../sassLight/sass/screen.scss */
#details {
  width: 70%;
  margin: 0 auto;
  margin-bottom: 40px;
}
/* line 497, ../sassLight/sass/screen.scss */
#details .right {
  float: right;
}
/* line 501, ../sassLight/sass/screen.scss */
#details #polaroid {
  margin-right: -75px;
}
/* line 504, ../sassLight/sass/screen.scss */
#details table {
  box-shadow: 10px 10px 5px #888888;
  border: 1px solid #ABABB0;
}
/* line 508, ../sassLight/sass/screen.scss */
#details table td {
  padding: 10px;
  border: 1px solid #dbdbdb;
  border-width: 0px 1px 1px 0px;
}
/* line 513, ../sassLight/sass/screen.scss */
#details table td:first-child {
  font-family: QuickSand;
  font-weight: bold;
  width: 50%;
}
/* line 518, ../sassLight/sass/screen.scss */
#details table td:last-child {
  font-family: Segoe UI, Helvetica;
  font-size: 15px;
}
/* line 523, ../sassLight/sass/screen.scss */
#details table tr:nth-child(odd) {
  background-color: #ffffff;
}
/* line 526, ../sassLight/sass/screen.scss */
#details table tr:nth-child(even) {
  background-color: #afced3;
}

/* line 532, ../sassLight/sass/screen.scss */
#facilityTitle {
  margin-top: 30px;
  margin-left: 220px;
  font-size: 3em;
  vertical-align: middle;
}

/* line 540, ../sassLight/sass/screen.scss */
.back {
  width: 60px;
  height: 60px;
  float: left;
  padding-left: 350px;
  margin-top: -5px;
}

/* line 548, ../sassLight/sass/screen.scss */
#report {
  width: 50%;
  margin: 0 auto;
  margin-top: 40px;
}
/* line 552, ../sassLight/sass/screen.scss */
#report .facilities {
  padding-left: 40px;
  width: 35%;
}
/* line 555, ../sassLight/sass/screen.scss */
#report .facilities td:last-child {
  width: 50px;
}

@media all and (max-width: 1200px) {
  /* line 563, ../sassLight/sass/screen.scss */
  #report .facilities {
    float: left;
    margin-left: 140px;
  }
}
